# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.icloud

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM
